body {
  background-color: aquamarine;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-board {
  background-color: aliceblue;
  width: 95vh;
  height: 95vh;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(60, 1fr);
  grid-template-rows: repeat(60, 1fr);
}

#game-board div {
  background-color: rgb(37, 64, 101);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

#game-board .alive {
  background-color: chartreuse;
}

#game-rules {
  margin-top: 20px;
  text-align: center;
}